* {
  /* box-sizing: border-box; */
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  @apply bg-gradient-to-r from-blue-300 via-green-500 to-accent bg-clip-text text-transparent;
}

*,
*::after,
*::before {
  /* box-sizing: border-box; */
  box-sizing: content-box;
}
* {
  font-family: inherit;
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

/*
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/
