* {
  margin: 0;
  box-sizing: border-box;
  /* transition: all ease-in-out 300ms; */
  font-family: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  @apply bg-gradient-to-r from-blue-300 via-green-500 to-accent bg-clip-text text-transparent;
}

.bg_glow::after {
  /* jisper ye lage ga uski position relative karni hogyi */
  content: "";
  background: rgba(15, 189, 15, 0.351);
  width: 240px;
  height: 180px;
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  /* left: 50%; */
  /* top: -50px; */
  filter: blur(65px);
  /* transform: translateZ(0); */
  /* isolation: isolate; */
}

button,
input,
textarea,
select {
  font: inherit;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bdr {
  border: 2px solid red;
}
.bdr2 {
  border: 2px solid green;
}
.bdr3 {
  border: 2px solid blue;
}
.bdr4 {
  border: 2px solid yellow;
}

/*
body {
  overflow-x: hidden;
}
a {
  color: inherit;
}
*/
